/* Product Admin Styles */
.cke {
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
}

.cke_top {
    background: #f7f7f7 !important;
    border-bottom: 1px solid #ccc !important;
}
