version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ecommerce-web
    ports:
      - "8000:8000"
    environment:
      - DEBUG=${DEBUG}
      - SECRET_KEY=${SECRET_KEY}
      - STRIPE_PUBLIC_KEY=pk_test_51SzLCn3EnjRsO1jm9njjN6ulGoj1E4wi4VoxpAdgG48oNh4x07HvgYIRoQF4BuoV88tx7utMQ4WScpvuyUV88AT2001dmWXTZ7
      - STRIPE_SECRET_KEY=sk_test_51SzLCn3EnjRsO1jmJhLiiJCJhBYlnJGQyo4z2V3biTXGJxeq4eXk4DpN0bLdduyvX0ZhDWwLXpYmgENPP6qDyFAl00h9h4FRG6
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
      - DB_ENGINE=mysql
      - DB_NAME=ecommerce_db
      - DB_USER=root
      - DB_PASSWORD=Dhruv@10
      - DB_HOST=mysql
      - DB_PORT=3306
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
    volumes:
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles
      - ./logs:/app/logs
    depends_on:
      - mysql
    networks:
      - ecommerce-network
    restart: unless-stopped

  mysql:
    image: mysql:8.0
    container_name: ecommerce-mysql
    environment:
      MYSQL_DATABASE: ecommerce_db
      MYSQL_USER: root
      MYSQL_PASSWORD: Dhruv@10
      MYSQL_ROOT_PASSWORD: Dhruv@10
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"
    networks:
      - ecommerce-network
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: ecommerce-redis
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    networks:
      - ecommerce-network
    restart: unless-stopped

volumes:
  mysql_data:
  redis_data:

networks:
  ecommerce-network:
    driver: bridge
