version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    command: sh -c "python scripts/setup_db.py && python manage.py runserver 0.0.0.0:8000"
